<link rel="stylesheet" href="styles.css">

<div id="overall-hits">
  <h1>Cash 4 Life Winning numbers</h1>

  <table>
    <thead>
      <tr>
        <td>Date</td>
        <td>Numbers</td>
        <td>Cash Ball Number</td>
      </tr>
    </thead>
    <tbody>
      <% @dates.each_with_index do |line, i| %>
        <tr>
          <td><%= line%></td>
          <td><%= @numbers_res[i]%></td>
          <td><%= @numbers_bonus[i] %></td>
        </tr>
      <% end %>



    </tbody>
  </table>

  <h1>Cash 4 Life Data</h1>
  <table>
    <% @numbers.each do |k,v| %>
      <tr class="number-cell">
        <td>
          <div class='base-number'><%= k %>/</div>
          <div class="hit-count"><%= v %></td></div>
      </tr>
    <% end %>
  </table>
</div>


<table id='common-hits'>
  <thead>
    <tr>Most common hits</tr>
  </thead>
  <tbody>
    <tr>
      <% @popular.each do |k,v| %>
        <td><%= k %></td>
      <% end %>
    </tr>
    <tr>
      <% @popular.each do |k,v| %>
        <td><%= v %></td>
        <% end %>
    </tr>
  </tbody>
</table>

<h1>
  Number Picks
</h1>

<table id="number-generator">
  <thead>

    <tr>Randomly selected numbers based on hit frequency</tr>
  </thead>
  <tbody>
    <tr>
      <% @picks.each_with_index do |line, i| %>
        <td><%= line %></td>
      <% end %>
    </tr>
  </tbody>
</table>
